
@media (min-width: 640px) { html {font-size:1.0rem;} } 


img { 
	max-width: 100%; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
	font-family:neuropol
}
li {
	clear:both;
    float: none;
	text-align:center;
	padding-top:0px;
	line-height:1px;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
	color:r#808080;
    background-color: #777777;
}
#background {
    background-image: url("background.jpg");
    background-position:  center;
    background-repeat: no-repeat;
	height:50em;
	background-size: cover;
    padding: 10 px;

}
#background2 {
    background-image: url("skyhotel.jpg");
    background-position:  center top;
    background-repeat: no-repeat;
	height:80em;
	background-size: cover;
    padding: 10 px;

}

#background3 {
    background-image: url("bg.jpeg");
    background-position:  center top;
    background-repeat: no-repeat;
	height:102em;
	background-size: cover;
    padding: 10 px;

}

#logo {
	float:none;
	text-align:center;
    padding:10px 20px 0px 0px;
	max-height:100px; 
	max-width:auto;
}

body{
	font-family: neuropol, arial, sans-serif;
	color:#black;
	margin-left:auto;
	margin-right:auto;
}
h1{
	clear:all;
	color:#808080;
	font-size:20px;
	text-align:center;
}
h2{
	font-size:20px;
	text-decoration: underline;
	text-align:center;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
	color:white;
	text-align:center;	
}
h5{
	font-size:16px;
	color:#808080;
	text-align:left;
	font-family:
}
p{
	font-size:12px;
}
footer{
	display:list-item;
	background-color:#222222;
	color:white;
	min-height:300px;
	
}
#check{
	text-align:center;
}
.flash-message {
    margin-top: 20px;
}
.contact{
	clear:both;
	text-align:center;
	padding-top:20px;
	padding-right:0px;
	margin-left:auto;
	margin-right:auto;
	line-height:15px;
}
.copy{
	clear:both;
	padding-top:10px;
	padding-left:0px;
	margin-left:auto;
	margin-right:auto;
	line-height:30px;
	text-align:center;
	font-size:12px;

}
.login{
	clear:both;
	line-height:14px;
	text-align:center;
	padding-left:0px;
	margin-left:auto;
	margin-right:auto;
	
}
#rcorners{
	clear:both;
	font-size:14px;
	color:white;
	text-align:left;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	float:right;
	padding: 15px;
	margin-top: 5px;
	margin-right: auto;
	margin-left:auto;
	max-width:480px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners2{
	clear:both;
	font-size:14px;
	text-align:center;
	color:#808080;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	margin-top: 20px;
	margin-right: auto;
	margin-left:auto;
	float:none;
	max-width:300px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners3{
	clear:both;
	font-size:12px;
	line-height:15px;
	overflow:scroll;
	color:white;
	text-align:left;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	float:none;
	padding: 15px;
	margin-top: 10px;
	margin-right:auto;
	margin-left:auto;
	max-width:350px;
	width:auto;
	height:600px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners4{
	clear:both;
	float:none;
	font-size:12px;
	line-height:5px;
	color:white;
	text-align:center;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	padding-top:30px;
	margin-top:60px;
	margin-right:auto;
	margin-left:auto;
	height:420px;
	max-width:340px;
	box-shadow: 0px 8px 16px 0px black;
}
.row{
	clear:both;
	display:block;
	margin-left: auto;
	margin-right: auto;
	color:#808080;
}

.col-md-8{
	float:none;
	text-align:center;
	padding-left:000px;
	padding-top:50px;
	max-width:300px;
	max-height:300px;
	width:auto;
	height:auto;
	margin-right:auto;
	margin-left:auto;
}
#rcorners5{
	clear:both;
	font-size:12px;
	line-height:15px;
	color:white;
	text-align:center;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
	margin-right:auto;
	margin-left:auto;
	width:auto;
	max-width:330px;
	min-width:300px;
	height:auto;
	box-shadow: 0px 8px 16px 0px black;
}
#photoslide{
	clear:both;
	font-size:12px;
	font-family:georgia;
	line-height:15px;
	overflow:scroll;
	color:white;
	text-align:center;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	float:none;
	margin-top: 10px;
	margin-right:auto;
	margin-left:auto;
	min-width:350px;
	max-width:350px;
	max-height:600px;
	box-shadow: 0px 8px 16px 0px black;
}
::-webkit-scrollbar { 
    display: none; 
}
#servicescontent{
	display:inline;

}

legend{
	line-height:inherit;
	font-size:14px;
	text-align:center;
	color:white;
	margin-bottom:0;
	padding:0;
	border-bottom:none;
}
.form-container{
	clear:both;
	font-size:14px;
	color:#808080;
	text-align:left;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	padding: 15px;
	margin-top:15px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 8px 16px 0px black;	
}

#search{
	clear:both;
	float:none;
	padding-left:0px;
	padding-right:0px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width:auto;
	font-style:"color :black;
}


