/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

@media (min-width: 640px) { html {font-size:1.0rem;} } 
@media (min-width: 960px) { html {font-size:1.2rem;} } 
@media (min-width:1100px) { html {font-size:1.4rem;} } 


  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }


img { 
	max-width: 100%; 
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
	font-family:neuropol
}
li {
    float: right;
	padding-top:30px;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
	color:r#808080;
    background-color: #777777;
}
#background {
    background-image: url("background.jpg");
    background-position:  center;
    background-repeat: no-repeat;
	height:53em;
	background-size: cover;
    padding: 10 px;

}
#background2 {
    background-image: url("skyhotel.jpg");
    background-position:  center top;
    background-repeat: no-repeat;
	height:53em;
	background-size: cover;
    padding: 10 px;

}

#background3 {
    background-image: url("bg.jpeg");
    background-position:  center top;
    background-repeat: no-repeat;
	height:53em;
	background-size: cover;
    padding: 10 px;

}

#logo {
	float:left;
    padding:3px 15px 3px 25px;
}

body{
	font-family: neuropol, arial, sans-serif;
	color:#black;
	margin-left:auto;
	margin-right:auto;
}
h1{
	clear:all;
	color:#808080;
	font-size:20px;
	text-align:center;
}
h2{
	font-size:20px;
	text-decoration: underline;
	text-align:center;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
	color:white;
	text-align:center;	
}
h5{
	font-size:16px;
	color:#808080;
	text-align:left;
	font-family:
}
p{
	font-size:12px;
}
footer{
	clear:both;
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	background-color:#222222;
	color:white;
	height:110px;
	padding:2px;
}
#check{
	text-align:center;
}
.flash-message {
    margin-top: 20px;
}
.contact{
	max-width:200px;
	height:80px;
	text-align:center;
	padding-right:50px;
	line-height:15px;
}
.copy{
	max-width:350px;
	height:80px;
	padding-top:15px;
	line-height:30px;
	text-align:center;
	font-size:12px;

}
.login{
	max-width:200px;
	height:80px;
	line-height:16px;
	padding-left:50px;
	text-align:center;
}
#rcorners{
	clear:both;
	font-size:14px;
	color:white;
	text-align:left;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	float:right;
	padding: 15px;
	margin-top: 5px;
	margin-right: 50px;
	max-width:480px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners2{
	clear:both;
	font-size:14px;
	text-align:left;
	color:#808080;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	float:right;
	padding: 15px;
	margin-top: 50px;
	margin-right: 50px;
	max-width:300px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners3{
	clear:both;
	font-size:12px;
	line-height:15px;
	overflow:scroll;
	color:white;
	text-align:left;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	float:right;
	padding: 15px;
	margin-top: 10px;
	margin-right:50px;
	margin-left:auto;
	width:auto;
	height:600px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners4{
	clear:both;
	float:right;
	font-size:12px;
	line-height:5px;
	color:white;
	text-align:center;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	padding:20px;
	margin-top:60px;
	margin-right:60px;
	max-width:1000px;
	height:475px;
	box-shadow: 0px 8px 16px 0px black;
}
.row2{
	clear:both;
	overflow:scroll;
	max-height:600px;
	color:#808080;
}

.col-md-8{
	max-width:600px;
	max-height:600px;
	width:auto;
	height:auto;
	clear:both;
	float:left;
	padding-left:100px;
	padding-top:40px;
}
#rcorners5{
	clear:both;
	font-size:12px;
	line-height:15px;
	color:white;
	text-align:center;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	padding-top:25px;
	padding-bottom:25px;
	margin-top: 10px;
	margin-right:auto;
	margin-left:auto;
	width:auto;
	max-width:950px;
	height:auto;
	box-shadow: 0px 8px 16px 0px black;
}
#photoslide{
	clear:both;
	font-size:12px;
	font-family:georgia;
	line-height:15px;
	overflow:scroll;
	color:white;
	text-align:left;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	float:left;
	margin-top: 10px;
	margin-right:50px;
	margin-left:50px;
	min-width:350px;
	max-width:350px;
	max-height:600px;
	box-shadow: 0px 8px 16px 0px black;
}
::-webkit-scrollbar { 
    display: none; 
}
#servicescontent{
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
#gallerycontent{
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
legend{
	line-height:inherit;
	font-size:14px;
	text-align:center;
	color:white;
	margin-bottom:0;
	padding:0;
	border-bottom:none;
}
.form-container{
	clear:both;
	overflow:scroll;
	font-size:14px;
	color:#808080;
	text-align:left;
	background-color:#222222;
    border-radius: 10px;
    border: 1px solid black;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width:600px;
	box-shadow: 0px 8px 16px 0px black;	
}
.row{
	clear:both;
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	margin-left: auto;
	margin-right: auto;
	color:#808080;
}
.col-md-8{
	max-width:600px;
	max-height:600px;
	width:auto;
	height:auto;
	clear:both;
	float:left;
	padding-left:100px;
}
#search{
	clear:right;
	float:right;
	padding-right:50px;
	font-style:"color :black;
}