
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
}
li {
    float: right;
	padding-top:30px;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 13px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
	color:red;
    background-color: #777777;
}
#background {
    background-image: url("background.jpg");
    background-position:  center top;
    background-repeat: no-repeat;
	height:53em;
	background-size: cover;
    padding: 10 px;

}
#background2 {
    background-image: url("skyhotel.jpg");
    background-position:  center top;
    background-repeat: no-repeat;
	height:53em;
	background-size: cover;
    padding: 10 px;

}

#background3 {
    background-image: url("bg.jpeg");
    background-position:  center top;
    background-repeat: no-repeat;
	height:53em;
	background-size: cover;
    padding: 10 px;

}

#logo {
	float:left;
    padding:3px 15px 3px 25px;
}

body{
	font-family:neuropol,georgia, arial, sans-serif;
	color:red;
	min-width:1200px;
	max-width:2300px;
	margin-left:auto;
	margin-right:auto;
}
h1{
	clear:all;
	color:red;
	font-size:20px;
	text-align:center;
}
h2{
	font-size:20px;
	text-decoration: underline;
	text-align:center;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
	color:white;
	text-align:center;	
}
h5{
	font-size:16px;
	color:red;
	text-align:left;	
}
p{
	font-size:12px;
}
footer{
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	background-color:#222222;
	color:white;
	height:110px;
	padding:2px;
}
.flash-message {
    margin-top: 20px;
}
.contact{
	width:200px;
	height:80px;
	text-align:center;
	padding-right:50px;
	line-height:15px;
}
.copy{
	width:350px;
	height:80px;
	padding-top:15px;
	line-height:30px;
	text-align:center;
	font-size:12px;

}
.login{
	width:200px;
	height:80px;
	padding-top:10px;
	padding-left:50px;
	text-align:center;
}
#search{
	float:right;
	padding-right:5px;
	font-style:"color :black;
}
#rcorners{
	clear:both;
	font-size:14px;
	color:white;
	text-align:left;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	float:right;
	padding: 15px;
	margin-top: 5px;
	margin-right: 50px;
	width:480px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners2{
	clear:both;
	font-size:14px;
	text-align:left;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	float:right;
	padding: 15px;
	margin-top: 50px;
	margin-right: 50px;
	width:300px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners3{
	clear:both;
	font-size:12px;
	line-height:15px;
	overflow:scroll;
	color:white;
	text-align:left;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	float:right;
	padding: 15px;
	margin-top: 10px;
	margin-right:50px;
	margin-left:auto;
	width:auto;
	height:600px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners4{
	clear:both;
	font-size:12px;
	line-height:5px;
	color:white;
	text-align:center;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	padding-top:40px;
	margin-top:60px;
	margin-right:100px;
	width:400px;
	height:475px;
	box-shadow: 0px 8px 16px 0px black;
}
#rcorners5{
	clear:both;
	font-size:12px;
	line-height:15px;
	color:white;
	text-align:center;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	padding: 15px;
	margin-top: 10px;
	margin-right:auto;
	margin-left:auto;
	width:1100px;
	min-width:1000px;
	height:550px;
	box-shadow: 0px 8px 16px 0px black;
}
#photoslide{
	clear:both;
	font-size:12px;
	font-family:georgia;
	line-height:15px;
	overflow:scroll;
	color:white;
	text-align:left;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	float:left;
	margin-top: 10px;
	margin-right:50px;
	margin-left:50px;
	min-width:350px;
	max-width:350px;
	height:600px;
	box-shadow: 0px 8px 16px 0px black;
}

#servicescontent{
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
}
#gallerycontent{
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	padding:30px;

}
legend{
	line-height:inherit;
	font-size:14px;
	text-align:center;
	color:white;
	margin-bottom:0;
	padding:0;
	border-bottom:none;
}
.form-container{
	clear:both;
	font-size:12px;
	text-align:left;
	background-color:black;
    border-radius: 10px;
    border: 1px solid black;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	width:600px;
	box-shadow: 0px 8px 16px 0px black;	
}
.row{
	clear:both;
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content:space-between;
	justify-content:space-between;
	margin-left: auto;
	margin-right: auto;
}
.col-md-8{

	padding-left:100px;
}

