<div id="background">
<br>

<div id="rcorners2">

<legend>CHECK AVAILABILITY</legend><br>

	<form name="availability">
		<h5>Check-in:</h5> 
			<input type="date" required ng-model="vm.res.startDate">
		<br>
		<h5>Check-out:</h5> 
			<input type="date" required ng-model="vm.res.endDate">
		<br>			

		<fieldset>
			<h5>Total Guests:</h5>
			<select tabindex="4" ng-model="vm.res.space" required>
				<option value="">select</option>			
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
			</select>
		</fieldset>
		<br>
		<div id="check">
			<!--Button maps to checkAvail function in app/home/index.controller.js -->
			<button type="submit" ng-click="vm.checkAvail()">Check Availability</button>	
		</div>
	</form>
</form>
</div>
<!--insert addl code here-->

</div>	
