<div id="background">
<br>


<h1>My Account</h1>
<br>
<div class="row2">
    <form class="form" role="form">
		<div class="col-md-6">
		<div class="form-container">
			<form method="post">
				<div class="form-group">
					<label for="firstname">First name</label>
					<input type="text" id="firstname" class="form-control" ng-model="vm.user.firstname" required />
				</div>
				<div class="form-group">
					<label for="lastname">Last name</label>
					<input type="text" id="lastname" class="form-control" ng-model="vm.user.lastname" required />
				</div>
				<div class="form-group">
					<label for="email">Username</label>
					<input type="text" id="email" class="form-control" ng-model="vm.user.email" required />
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" class="form-control" ng-model="vm.user.password" />
				</div><br>
				<div class="form-group">
					<button class="btn btn-primary" ng-click="vm.saveUser()">Save Changes</button>
					<button class="btn btn-danger" ng-click="vm.deleteUser()">Delete Account</button>
				</div>
			</form>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-container2">
			<form  method="get">
				<div class="form-group">
					<table id="tblRooms" class="table table-striped table-bordered" cellspacing="0">
						<thead>
							<tr>
								<th class="text-center">Check-In Date</th>
								<th class="text-center">Check-Out Date</th>
								<th class="text-center">Room Type</th>
								<th class="text-center">Guests</th>
								<th class="text-center">Cancel Reservation</th>
							</tr>
						</thead>
				<tbody>
					<tr ng-repeat="reservations in vm.reservations">
					<td class="text-center">{{reservations.startDate | date : "MM/dd/yyyy"}}</td>
                    <td class="text-center">{{reservations.endDate | date : "MM/dd/yyyy"}}</td>
					<td class="text-center">{{vm.getRoomType(reservations)}}</td>
                    <td class="text-center">{{reservations.numGuests}}</td>
                    <td class="text-center"><button class="btn btn-danger btn-sm" ng-click="vm.deleteRes(reservations._id)">Cancel</button></td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
</form>

	</form>
</div>