<!DOCTYPE html>
<html>
<head>
    
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">    

	<!-- Datepicker theme -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">    
    
	<title>Martian Motel</title>
    
    <meta charset="utf-8">
	<meta name="description" content="The Martian Motel">
	<meta name="keywords" content="Martian Motel, Mars, Space Hotel">
	<meta name="robots" content="noindex, nofollow">
	<meta name="robots" content="noindex, follow">
	<meta name="robots" content="index, nofollow">	
	<meta name="author" content="The Martian Group">	
	<meta name="copyright" content="The Martian Group">	 
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">	

    <!-- <link href="app-content/app.css" rel="stylesheet" /> -->
    <link id="pagestyle" rel="stylesheet" type="text/css" href="app-content/stylesheet.css" media="screen">
	<link rel="stylesheet" media="(max-width: 640px)" href="app-content/mobile.css">

	
	<!--<favicon icon> -->
	<link href="app-content/rocketicon.ico" rel="icon" type="image/x-icon" />
	
	

</head>
    
<body>
    <!-- header -->
    <header>
        <ul>
            <div id="logo">
				<a href="/app">
					<img src="app-content/textlogo.png" height="100" width="270">
				</a>
            </div>
			<li><a a href="/login" ng-click="logout()" target="_self">{{isLoggedIn ? 'Logout' : 'Login'}}</a></li>
			<li ng-class="{active: activeTab === 'account'}"><a ui-sref="account">Account</a></li>
			<li ng-class="{active: activeTab === 'contact'}"><a ui-sref="contact">Contact Us</a></li>
			<li ng-class="{active: activeTab === 'gallery'}"><a ui-sref="gallery">Gallery</a></li>
			<li ng-class="{active: activeTab === 'reservations'}"><a ui-sref="reservations">Reservations</a></li>
			<li ng-class="{active: activeTab === 'services'}"><a ui-sref="services">Services</a></li>
			<li ng-class="{active: activeTab === 'about'}"><a ui-sref="about">About Us</a></li>
			<li ng-class="{active: activeTab === 'home'}"><a ui-sref="home">Home</a></li>	
		</ul>
        <div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
        </div>

    </header>
    
    <!-- main -->
    <!--main ui-view="" class="ng-scope"--><div id="background3" class="ng-scope">
<br>

  <div id="search">
    <form method="get" action="http://www.google.com/search" class="ng-pristine ng-valid">
      <div style="border:padding:4px;maxwidth:30em;">
        <table border="0" align="center" cellpadding="0">
          <tbody><tr><td>
          <input type="text" name="q" size="25" maxlength="255" value="">
          <input type="submit" value="Search"></td></tr>
          <tr><td align="center" style="font-size:75%">
          </td></tr>
        </tbody></table>
      </div>
    </form>
  </div>
  <br>
 
  <h1>Careers</h1>
  <br>
      <br>

    <h2>Work for us!</h2>

    <p>Join our team and enjoy a relaxing and fun atmosphere! We offer competitive wages and benefits.</p>

    <h3>We’re hiring!</h3>

    <ul>
	 <li>Housekeeper</li>
	 <li>Laundry Attendant</li>
	 <li>Host</li>
	 <li>General Manager</li>
	<li>Spaceship Driver</li>
	<li>Restaurant server</li>
	<li>Restaurant bartender</li>
	<li>Space lifeguard</li>
	<li>Cook</li>
	<li>Dishwasher</li>
  	<li>Alien Storyteller</li>	
    </ul>
    
    <!-- pop up employment form -->
    <div data-role="main" class="ui-content">
    <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all ui-icon-check ui-btn-icon-left">Apply Now</a>

    <div data-role="popup" id="myPopup" class="ui-content" style="min-width:350px;">
     
      <!-- employment form -->    
      <form action="mailto:martianmotel@gmail.com" id="EmploymentApplication" method="post" onsubmit="return ValidateForm(this);">
        <script type="text/javascript">
        function ValidateForm(frm) {
        if (frm.First_Name.value == "") { alert('First name is required.'); frm.First_Name.focus(); return false; }
        if (frm.Last_Name.value == "") { alert('Last name is required.'); frm.Last_Name.focus(); return false; }
        if (frm.Email_Address.value == "") { alert('Email address is required.'); frm.Email_Address.focus(); return false; }
        if (frm.Email_Address.value.indexOf("@") < 1 || frm.Email_Address.value.indexOf(".") < 1) { alert('Please enter a valid email address.'); frm.Email_Address.focus(); return false; }
        if (frm.Position.value == "") { alert('Position is required.'); frm.Position.focus(); return false; }
        if (frm.Phone.value == "") { alert('Phone is required.'); frm.Phone.focus(); return false; }
        return true; }
        </script>
        <table border="0" cellpadding="5" cellspacing="0">
        <tr> <td style="width: 50%">
        <label for="First_Name"><b>First name *</b></label><br />
        <input name="First_Name" type="text" maxlength="50" style="width: 260px" />
        </td> <td style="width: 50%">
        <label for="Last_Name"><b>Last name *</b></label><br />
        <input name="Last_Name" type="text" maxlength="50" style="width: 260px" />
        </td> </tr> <tr> <td colspan="2">
        <label for="Email_Address"><b>Email *</b></label><br />
        <input name="Email_Address" type="text" maxlength="100" style="width: 535px" />
        </td> </tr> <tr> <td colspan="2">
        <label for="Portfolio"><b>Portfolio website</b></label><br />
        <input name="Portfolio" type="text" maxlength="255" value="http://" style="width: 535px" />
        </td> </tr> <tr> <td colspan="2">
        <label for="Position"><b>Position you are applying for *</b></label><br />
        <input name="Position" type="text" maxlength="100" style="width: 535px" />
        </td> </tr> <tr> <td>
        <label for="Salary"><b>Salary requirements</b></label><br /> <input name="Salary" type="text" maxlength="50" style="width: 260px" /> </td> <td>
        <label for="StartDate"><b>When can you start?</b></label><br />
        <input name="StartDate" type="text" maxlength="50" style="width: 260px" />
        </td> </tr> <tr> <td>
        <label for="Phone"><b>Phone *</b></label><br />
        <input name="Phone" type="text" maxlength="50" style="width: 260px" />
        </td> <td>
        <label for="Fax"><b>Fax</b></label><br />
        <input name="Fax" type="text" maxlength="50" style="width: 260px" />
        </td> </tr> <tr> <td colspan="2">
        <label for="Relocate"><b>Are you willing to relocate?</b></label><br />
        <input name="Relocate" type="radio" value="Yes" checked="checked" maxlength="30" style="width: 80px"/> Yes      
        <input name="Relocate" type="radio" value="No" maxlength="30" style="width: 80px"/> No      
        <input name="Relocate" type="radio" value="NotSure" maxlength="30" style="width: 80px"/> Not sure
        </td> </tr> <tr> <td colspan="2">
        <label for="Organization"><b>Last company you worked for</b></label><br />
        <input name="Organization" type="text" maxlength="100" style="width: 535px" />
        </td> </tr> <tr> <td colspan="2">
        <label for="Reference"><b>Reference / Comments / Questions</b></label><br />
        <textarea name="Reference" rows="7" cols="40" style="width: 535px"></textarea>
        </td> </tr> <tr> <td colspan="2" style="text-align: center;">
       <!-- <input name="skip_submit" type="submit" value="Send Application" /> -->
	<input type="submit" value="Send Application">
	<input type="reset" value="Reset">
        </td> </tr>
        </table>
        </form>
    </div>
    </div>

    <p>If you’re interested in any of these positions, please download and complete our <a href="#" target="_blank">employment application (PDF).&nbsp;</a></p>

    <p>Mail your application to:</p>

    <p>Martian Motel<br>
    101 Olympus Drive<br>
    87999 Mars</p>

    <p>Fax to: (800) 222-0000</p>
    </div>
    
  <!--/main-->

    <!-- footer -->
    <footer class="footer">
        <div class="login">
		  <h4>Employees</h4>
		  <a href="{{isLoggedIn ? '/emp' : '/login'}}">{{isLoggedIn ? 'Employee Site' : 'Login'}}</a>
		  <br>
		  <a href="careers.html">Careers</a>
          <br>
          <a href="/api">API</a>
        </div>
        <div class="copy">
            <a href="/update">
                <img src="app-content/logo.png" height="50" width="50">
            </a><br>
            Copyright &#169; 2016 The Martian Group<br>
        </div>
        <div class="contact">
		  <h4>Contact Us</h4>
		  <p>101 Olympus Drive <br>
		  87999 Mars<br>
		  +99 86797 87783
		  <a href="mailto:motelmartian@gmail.com">info@martianmotel.com</a>
		  </p>
		  <br>
        </div>
    </footer>
	
    <!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
    <!-- load ngmessages -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    
    <!-- application scripts -->
    <script src="app.js"></script>

    <!-- controllers -->
    <script src="home/index.controller.js"></script>
    <script src="reservations/index.controller.js"></script>
    <script src="account/index.controller.js"></script>

    <!-- services -->
    <script src="app-services/flash.service.js"></script>
    <script src="app-services/user.service.js"></script>
	<script src="app-services/reservation.service.js"></script>
	
</body>
</html>

