<!DOCTYPE html>
<html ng-app="emp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://institut-de-genomique.github.io/Ultimate-DataTable/js/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://institut-de-genomique.github.io/Ultimate-DataTable/css/ultimate-datatable-3.3.1-SNAPSHOT.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script src="http://institut-de-genomique.github.io/Ultimate-DataTable/js/ultimate-datatable-3.3.1-SNAPSHOT.js" type="text/javascript"
        charset="utf-8"></script>	

    <!--Charts-->
    <script src="resources/Chart.js"></script>
    <script src="resources/angular-chart.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="resources/moment.js" type="text/javascript" charset="utf-8"></script>
    <script src="/emp/emp.js"></script>
    <script src="/emp/mgrpages/controllers/manager.controller.js"></script>
    <script src="/emp/mgrpages/controllers/mgrusers.controller.js"></script>
    <script src="/emp/mgrpages/controllers/mgrrooms.controller.js"></script>
    <script src="/emp/mgrpages/controllers/mgrroomtypes.controller.js"></script>
    <script src="/emp/mgrpages/controllers/mgroccrpt.controller.js"></script>
    
    <script src="/emp/pages/reservations.module.js"></script>
    <script src="/emp/pages/reservations.component.js"></script>


	<!-- Datepicker theme -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Our Styles -->
    <link rel="stylesheet" href="/emp/styles/table.responsive.css">
    <link rel="stylesheet" href="/emp/styles/emp.css">

</head>
<body ng-controller="EmpCtrl">>
    <div id="logo" class="logo">
        <a href="/app"><img src="/app/app-content/textlogo.png" /></a>
    </div>
    <div>
        <button type="button" class="btn btn-warning btn-md pull-right" ng-click="logout()">Logout</button>
        </div>
    <div>
        <tabset>
            <tab ng-repeat="tab in tabs" ng-hide="tab.disable" >
                <tab-heading>
                    <i class={{tab.icon}}></i> &nbsp; {{tab.title}}
                </tab-heading>
                <div ng-include="tab.contenturl"></div>
            </tab>
        </tabset>
    </div>
</body>

</html>