<div class="modal-header">
    <h3>Add (Edit) Rooms</h3>
</div>
<form name="form.roomForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <div class="form-group">
            <label>Room Number</label>
            <input type="text" name="num" class="form-control" ng-model="room.num" required>
            <p ng-show="form.roomForm.num.$invalid && !form.roomForm.num.$pristine" class="help-block">A Room number is required.</p>
        </div>
        <div class="form-group">
            <label>Room Type</label>
            <select class="form-control" ng-model="room.rmType" required ng-options="rt._id as rt.name for rt in rmtypes">"
            </select>
        </div>

        <div class="form-group">
            <label>Room Available</label>
            <input class="form-control" type="checkbox" ng-model="room.avail">
        </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-lg" ng-click="okRoom()" ng-disabled="form.roomFrom.$invalid">Update</button>
        <button class="btn btn-warning btn-lg" ng-click="cancelRoom()">Cancel</button>
    </div>
</form>