<div class="container-fluid" ng-controller="userCtrl">
    <div class="col-md-12">
        <div class="col-md-1 pull-left" style="Padding: 5px;">
            <button type="button" class="btn btn-info btn-md" ng-click="openUser('new')">
            <i class="glyphicon glyphicon-plus"></i>Add User</button>
        </div>
        <div class="col-md-4 input-group pull-right" style="Padding: 5px;">
            <input id="txtUserSearch" type="text" class="form-control" name="x" placeholder="Filter Grid..." ng-model="txtUserFilter.text"
            />
            <span ng-if="txtUserFilter.text" ng-click="clearUserFilter()" class="glyphicon glyphicon-remove form-control-feedback" style="cursor: pointer; pointer-events: all; margin-top: 5px;"
                uib-tooltip="clear">
            </span>
        </div>
        <table id="tblUsers" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="orderByUserField = 'lastname'; reverseUserSort = !reverseUserSort">
                        Last Name 
                        <span ng-show="orderByUserField == 'lastname'">
                            <i ng-show="!reverseUserSort" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="reverseUserSort" class="glyphicon glyphicon-triangle-bottom"></i>
                        </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByUserField = 'firstname'; reverseUserSort = !reverseUserSort">
                        First Name 
                        <span ng-show="orderByUserField == 'firstname'">
                            <i ng-show="!reverseUserSort" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="reverseUserSort" class="glyphicon glyphicon-triangle-bottom"></i>
                        </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByUserField = 'email'; reverseUserSort = !reverseUserSort">
                            Email
                            <span ng-show="orderByUserField == 'email'">
                                <i ng-show="!reverseUserSort" class="glyphicon glyphicon-triangle-top"></i>
                                <i ng-show="reverseUserSort" class="glyphicon glyphicon-triangle-bottom"></i>
                            </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByUserField = 'group'; reverseUserSort = !reverseUserSort">
                        User group
                        <span ng-show="orderByUserField == 'group'">
                            <i ng-show="!reverseUserSort" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="reverseUserSort" class="glyphicon glyphicon-triangle-bottom"></i>
                        </span>
                        </a>
                    </th>
                    <th>Phone #</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | filter:txtUserFilter.text | orderBy:orderByUserField:reverseUserSort track by user._id">
                    <td>{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>
                    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    <td>{{getUserGroup(user)}}</td>
                    <td>{{user.phone}}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-md" ng-click="openUser(user)">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>