<div class="container-fluid" ng-controller="userCtrl">
    <div class="col-md-12">
        <div class="col-md-1 pull-left" style="Padding: 5px;">
            <button type="button" class="btn btn-info btn-md" ng-click="open()">
            <i class="glyphicon glyphicon-plus"></i>Add User</button>
        </div>
        <div class="col-md-4 input-group pull-right" style="Padding: 5px;">
            <input id="txtUserSearch" type="text" class="form-control" name="x" placeholder="Filter Grid..." ng-model="txtFilter.text"/>
            <span ng-if="txtFilter.text" ng-click="clearFilter()" class="glyphicon glyphicon-remove form-control-feedback" 
            style="cursor: pointer; pointer-events: all; margin-top: 5px;" uib-tooltip="clear">
            </span>
        </div>
        <table id="tblUsers" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="orderByField = 'lastname'; reverseSort = !reverseSort">
                        Last Name 
                        <span ng-show="orderByField == 'lastname'">
                            <i ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></i>
                        </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByField = 'firstname'; reverseSort = !reverseSort">
                        First Name 
                        <span ng-show="orderByField == 'firstname'">
                            <i ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></i>
                        </span>
                        </a>
                    </th>
                    
                    <th>
                        <a href="#" ng-click="orderByField = 'email'; reverseSort = !reverseSort">
                            Email
                            <span ng-show="orderByField == 'email'">
                                <i ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></i>
                                <i ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></i>
                            </span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByField = 'group'; reverseSort = !reverseSort">
                        User group
                        <span ng-show="orderByField == 'group'">
                            <i ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></i>
                            <i ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></i>
                        </span>
                        </a>
                    </th>
                    <th>Phone #</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | filter:txtFilter.text | orderBy:orderByField:reverseSort">
                    <td>{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>
                    <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
                    <td>{{user.group}}</td>
                    <td>{{user.phone}}</td>
                    <td><button class="btn btn-danger btn-md" ng-click="delete(user)">
                        <i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</button>
                        &nbsp;
                        <button type="button" class="btn btn-warning btn-md" ng-click="open(user)">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>